.col-xs-0 {
  width: 0 !important;
  height: 0 !important;
  overflow: hidden;
}

.sidebar-scrollable {
  height: calc(100vh - 130px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 15px;
}

.chats-sidebar-scrollable {
  padding-top: 15px;
  height: calc(100vh - 194px);
  overflow-y: auto;
  overflow-x: hidden;
}

.section-header {
  background-color: rgba(221, 221, 221, 0.19);
  padding: 10px;
  text-align: center;
}

.section-header p {
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  color: #1f2021;
  margin: -0.6rem !important;
}

.tooltip.in {
  opacity: 0.7;
}

.discover-card-info {
  background-color: #f7f9fc;
  padding: 8px;
  margin-bottom: -15px;
}

.discover-card-info > p {
  font-size: 14px;
  padding-bottom: 16px;
}

#blocked-users {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding: 10px;
}

#matched-users {
  font-size: 20px;
  padding: 10px;
  font-weight: 600;
}

#discover-main {
}

#message-header {
  padding: 10px;
  text-align: center;
}

#first-person {
  padding: 8px;
  border: 1px solid #1f2021;
  border-radius: 10px;
}

#first-person-name {
  text-align: left;
  color: #1f2021;
  margin-top: 8px;
}

#latest-message {
  font-size: 14px;
  text-align: start;
  margin: 4px 0;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#second-person {
  padding: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  border: 1px solid #1f2021;
  border-radius: 10px;
}

#search-users {
  background-color: white;
  padding: 5px;
  bottom: 0;
  position: absolute;
  width: calc(100% - 20px);
  margin: 0 -15px 0 -15px;
}

#search {
  right: 0;
  width: calc(100% - 70px);
}

#search-icon {
  font-size: 50px;
  padding-left: 20px;
  vertical-align: bottom;
}

#header-name {
  text-align: center;
}

#messaging-header {
  padding: 15px;
  width: 100%;
  margin-left: 0px;
}

#matched-on {
  margin-top: 10px;
}

#messaging-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#new-message {
  width: 100%;
  font-size: 25px;
  border: 1px solid rgba(128, 128, 128, 0.38);
  padding: 10px 15px;
}

#send-message {
  color: #fc0377;
}

.new-message-send-icon {
  position: fixed;
  right: 10px;
  font-size: 42px;
  cursor: pointer;
}

.message-bubble {
  max-width: 60%;
  margin: 4px 15px;
  float: left;
  clear: both;
}

.message-bubble h5 span {
  background-color: #cccccc;
  padding: 3px 6px 6px 6px;
  border-radius: 8px;
  font-weight: initial;
}

.message-bubble p {
  margin-left: 8px;
  font-size: 12px;
}

.message-bubble-right > h5 > span {
  background-color: #4c99f4;
  color: white;
}

.message-bubble-right {
  float: right;
}

@media (min-width: 1200px) {
  .discover-people-sizing {
    padding: 0 100px;
  }
}

.nav-item > a {
  font-size: 20px;
}

.nav-item > .active {
  font-size: 24px;
}

.matched-card-wrapper {
  margin-bottom: 0.7rem;
  width: 41%;
  margin-left: 6%;
  float: left;
}

.matched-card-wrapper a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color: black;
}

.matched-card {
  border: 1px solid #6e6f70;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}

.matched-card > h6 {
  text-align: center;
  margin: 0;
  padding: 6px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.image-wrapper-tall {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-bottom: calc(100% * 1.5);
  background-color: #191919;
}

.image-wrapper-tall > img {
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.image-wrapper-circle {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  padding-bottom: 100%;
  background-color: #313131;
  border: 1px solid #313131;
}

.image-wrapper-circle > img {
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.message-section {
  text-align: center;
  padding-top: 30px;
  background-color: rgba(221, 221, 221, 0.19);
}

.message-section > p {
  margin-top: 50px;
}